* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; 
    margin:0;
    background-color: rgb(206, 159, 167);
}
.slideshow-container {
    position: relative;
  }
img {
    vertical-align: middle;
    width:100%;
    max-height: 500px;
    box-shadow: 10px 10px 5px rgb(36, 16, 19) ;
}

#pause{
    margin: auto;
    margin-left: 50%;
    margin-top: 50px;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    background-color: #7b3e3e;
    border-radius: 5px;
    border-style: none;
    box-shadow: 3px 3px #311a1a;
}
.slideshow-container {
  max-width: 70%;
  height: 500px;
  position: relative;
  margin: auto;
  padding:15px;
  position: relative;
  
}
.prev{left:0;}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
